<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <title>Fetch API</title> 
  </head> 
  <body> 
    <div> 
      <h1>Fetch API GET REQUEST</h1> 
      <h3>Fetching Users</h3> 
  
      <!-- Table to display fetched user data -->
      <table id="users"></table> 
    </div> 
       
    <!-- Link JavaScript file -->
    <script type="text/javascript">
        var apiUrl = 'http://covid360india--dev1.my.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9pcaEGrGRoTLxT_2YHq3bkWV5kJw9IR5nZZkQrFkGbs3AvgHs_6W5Grvcfc1cc_Y4KLPh.w.ILqjFccCn&client_secret=CAF6E6798C698E2E7F7B69896821F0118EB2B05054E9474538F4BD4062FA05A9&&username= integration_covid360india@deloitte.com&&password=Deloitte@2020';
        console.log('**********************');
        fetch(apiUrl,{
            method: "POST",
            headers: { 
                "Content-type": "application/json; charset=UTF-8"
            }
        }).then(response => {
          return response.json();
        }).then(data => {
          // Work with JSON data here
          console.log(data);
        }).catch(err => {
          // Do something for an error here
        });
    </script>
  </body> 
</html> 
